body{
    background:#3c5077;
}
#login-form {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(252, 224, 224);
    border-radius: 25px;
    color: sandybrown;
    background-color: silver;
}

label {
    display:block;
    margin-bottom: 10px;
    font-weight: bolder;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #4c4c4c;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

footer {
   padding: 10px;
}


.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    color: #333;
    transition: 0.4s, top 0.4s ;

}

.popup img{
  width: 120px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 2);  
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #2c9904;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0, 0.2); 
    border: none; 
}

.openPopup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}